@CHARSET "UTF-8";

body{
	font-family: 'Nanum Gothic', sans-serif;
	display: block;
	margin: auto;
}
thead{
	background-color: #F6FCF7;
	font-size: 20px;
	text-align:center;
}
table.alram_table{
	text-align:left;
	width : 350px;
	font-size: 13px;	
}
.line{
	height: "1";
	background-color: #F2F2F2;
}
.accept3_button{
	width:50px;
	height : 30px;
	display: block;
	float: right;
}
.refuse3_button{
	width:50px;
	height : 30px;
	display: block;
	float: right;
}

#friendRecommend_list{
	display: none;
}

